@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured_products {
  @include flex;
  flex-direction: column;
}

.container {
  width: min(90%, 80rem);
  @include flex;
  flex-direction: column;
  padding: 4rem 0;
}

/*.products_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  //padding: 20px;
}*/

.product {
  @include flex;
  flex-direction: column;
  // height: 400px;
  // width: 300px;
  // width: 300px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  transition: all 0.3s;
  &:hover {
    box-shadow: 3px 3px 8px 2px rgb(220,20,60, 0.3);
  }
  margin: 20px;
}

.img_container {
  @include flex;
  height: 200px;
  width: 100%;
  overflow: hidden;
  padding: 60px;
}

.product_img {
  height: 400px;
  object-fit: contain ;

  position: relative ;
  z-index: 10;
  margin-top: 50px;
}

.product_details {
  @include flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background: linear-gradient(160deg, crimson, 95%, yellow);
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}

.cart_container {
  @include flex;
  transform: translateY(-30px);
}

.cart ,
.visit {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
  @include flex;
  justify-content: space-between;
  background: rgba(255, 255, 255) ;
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
  transition: all 0.3s ease-in-out;
  p {
    font-size: .8em;
  }
  &:hover {
    background: crimson;
    border: 2px white solid;
    .icon,
    p {
      color: white;
      transition: all 0.3s ease-in-out;
    }
  }
}

.visit {
  height: 50px;
  width: 50px;
  padding: 2px;
  justify-content: center;
  flex-direction: column;
  border-radius: 100%;
  margin-left: 20px;
}

.icon {
  font-size: 1em;
  color: black;
  margin-right: 20px;
  border-rights: 2px gray solid;
  transition: all 0.3s ease-in-out;
}

.visit {
  .icon {
    margin-right: 0;
  }
}

.product_detail {
  width: 100%;
  margin-top: 20px;
}

.name {
  color: white ;
  font-weight: 500  ;
  text-align: left;
  font-size: 1em;
}

.price_container {
  margin: 30px 0;
  height: 0;
  width: 100%;
  @include flex;
  justify-content: space-between;
  // margin: 25px 0;
}

.price {
  color: yellow;
  font-weight: bold;
  font-size: 2.5em;
}

.fav {
  cursor: pointer;
  height: 0;
  @include flex;
  justify-content: space-around ;
  padding: 12px 10px;
  background: rgba(255, 255, 255) ;
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.3);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
  .icon {
    margin-right: 10px;
  }
  &:hover {
    background: crimson;
    border: 2px white solid;
    .icon,
    p {
      color: white;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media (min-width: 688px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    margin: 5px;
  }
}