.container {
  width: 100%;
}

.heading,
.subtitle {
  font-size: 1.5rem;
  color: black;
  text-align: left;
}

.heading {
  font-weight: bold;
}

.subtitle {
  margin-top: .3rem;
  color: goldenrod !important;
  font-size: 1.1rem;
  max-width: 400px;
}