@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: linear-gradient(45deg, rgb(242, 100, 17), crimson);
  @include flex;
  flex-direction: column;
  padding-top: 8rem;
}

.container {
  width: min(90%, 80rem);
  @include flex;
  flex-direction: column;
  padding: 4rem 0;
}

.category_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  //padding: 20px;
}

.category {
  @include flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(26.5px);
  -webkit-backdrop-filter: blur(26.5px);
  border-radius: 20px;
  //  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  position: relative;
  transition: all 0.3s;
  &:hover {
    .decor {
      &::after {
        background: red;
        animation: move 2s infinite alternate;
      }
    }
  }
}

@keyframes move {
  50% {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
  }
}
.decor {
  @include flex;
  position: absolute;
  top: 30px;
  content: "";
  height: 80px;
  width: 150px;
  border-radius: 20px;
  background: #ff3659;
  z-index: 0;
  overflow: hidden;
  box-shadow: inset 3px 3px 8px 2px rgba(0, 0, 0, 0.682);
  &::after {
    content: "";
    height: 100px;
    width: 100px;
    border: 6px white solid;
    border-radius: 100%;
    background: gold;
    position: absolute;
    top: -10px;
    z-index: 0;
  }
}
.category_img {
  height: 150px;
  object-fit: contain;
  position: relative;
  z-index: 10;
  margin-top: 50px;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.name {
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 688px) {
  .hero {
    height: 50vh;
  }
  .category_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
